<h2 style="background-color:DarkGray;"><center>Bulk Discounts <%= "#{@bulk_discount.id}" %></h2>
<ul>
<li style="font-size:30px;"><b>Percentage off:</b> %<%= @bulk_discount.percentage_discount %>
<li style="font-size:30px;"><b>Number of items to qualify for discount:</b> <%= @bulk_discount.quantity_threshold %>
</ul>
<br>
<%= link_to "Edit Bulk Discount", edit_merchant_bulk_discount_path(@merchant, @bulk_discount), style: "font-size:20px;" %>